*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
main{
    display: flex;
    height: 100vh;
    justify-content: center;
    background: #b9b4ae;
    transition: all ease-in-out 0.5s;
}

.container{
    display: flex;
    align-items: center;
    gap: 50px;
}

.imagemPrincipal{
    border-radius: 15px;
    box-shadow: 0px 8px 20px #1b1b1b;
    animation: moveImage linear infinite 3s;
}

@keyframes moveImage {
    0%{
        transform: translateY(0px);
    }50%{
        transform: translatey(40px);
    }
    100%{
        transform: translatey(0px);
    }
}

.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45em;
    height: 53em;
    gap: 10px;
    background: #fff;
    padding: 5px 0 5px 15px;
    border-radius: 15px;
    transition: all ease-in-out 0.5s;
}

.formulario h1{
    font-size: 32px;
}

.botao{
    align-self: flex-end;
    padding-right: 10px;
}

.botao button{
    border: none;
    width: 10rem;
    height: 2rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.selecionar-animais{
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 10px;
}

.selecionar-animais input{
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.info h2{
    margin: 10px 0;
}

.info label{
    font-size: 25px;
    padding: 8px;
}


.info input{
    width: 18px;
    height: 18px;
    cursor: pointer; 
}


.info-animal{
    display: flex;
    flex-direction: column;
}

.info-animal label{
    font-size: 25px;
    margin-top: 10px;
}

.info-animal input{
    width: 200px;
    height: 25px;
    padding-left: 10px;
}

.info-pessoa{
    display: flex;
    flex-direction: column;
}


.info-pessoa label{
    font-size: 25px;
    margin-top: 10px;
}

.info-pessoa input{
    width: 400px;
    height: 25px;
    padding-left: 10px;
}

.termosEcondicao{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
}

.termosEcondicao input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.btn{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: #e28205;
    border: 3px solid #613905;
    font-size: 25px;
    padding: 0.6em;
    cursor: pointer;
    transition: all ease 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn:hover{
    background-color: #613905;
    color: #fff;
}

@keyframes rodar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.circulo{
    border: 2px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: rodar 1s linear infinite;
}

.enviado{
    background: #e0f8e0;
    background-image: url(imagem/check.png);
    background-repeat: no-repeat;
    background-position: center;
}

.dark{
    background: #242323;
    transition: all ease-in-out 0.5s;
}

.darkStrong{
    background: #000;
    transition: all ease-in-out 0.5s;
}

.corBranca{
    color: #fff;
}

.backgroundBotao{
    color: #f5f4f4;
    background: #111111;
}

