*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

#mainIndex{
    background: #d1cdcd;
    height: 85vh;
    
}

.containerCasa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}


#carouselExampleIndicators{
    height: 35em;
    width: 80%;
    margin-bottom: .5em;
}

#carouselExampleIndicators img{
    height: 35em;
    width: 80%;
}

.rodape{
    background: #000;
    color: #fff;
    display: grid;
    place-items: center;
    height: 9.1vh;
}



.main2{
    display: flex;
    height: 85vh;
    justify-content: center;
    background: #b9b4ae;
    transition: all ease-in-out 0.5s;
}

.container{
    display: flex;
    align-items: center;
    gap: 5em;
}

.imagemPrincipal{
    border-radius: 15px;
    box-shadow: 0px 8px 20px #1b1b1b;
    animation: moveImage linear infinite 3s;
}

@keyframes moveImage {
    0%{
        transform: translateY(0px);
    }50%{
        transform: translatey(40px);
    }
    100%{
        transform: translatey(0px);
    }
}

.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60em;
    height: auto;
    background: #fff;
    padding: 0.5em 2em;
    border-radius: 15px;
    transition: all ease-in-out 0.5s;
}

.formulario h1{
    font-size: 1.3em;
}

.botao{
    align-self: flex-end;
    padding-right: 10px;
}

.botao button{
    border: none;
    width: 6em;
    height: 1.7em;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.selecionar-animais{
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 10px;
}

.selecionar-animais input{
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.selecionar-animais label{
    font-size: 17px;
}

.info h2{
    margin: 10px 0;
    font-size: 18px;
}

.info label{
    font-size: 16px;
    padding: 8px;
}


.info input{
    width: 18px;
    height: 18px;
    cursor: pointer; 
}


.info-animal{
    display: flex;
    flex-direction: column;
}

.info-animal label{
    font-size: 18px;
    margin-top: 10px;
}

.info-animal input{
    width: 200px;
    height: 25px;
    padding-left: 10px;
}

.info-pessoa{
    display: flex;
    flex-direction: column;
}


.info-pessoa label{
    font-size: 17px;
    margin-top: 10px;
}

.info-pessoa input{
    width: 400px;
    height: 25px;
    padding-left: 10px;
}

.termosEcondicao{
    display: flex;
    align-items: center;
    font-weight: 900;
}

.termosEcondicao input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}


.termosEcondicao label{
    font-size: 14px;
    margin: 0.8em 0;
}

.dark{
    background: #242323;
    transition: all ease-in-out 0.5s;
}

.darkStrong{
    background: #000;
    transition: all ease-in-out 0.5s;
}

.corBranca{
    color: #fff;
}

.backgroundBotao{
    color: #f5f4f4;
    background: #111111;
}

